<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Today</h1>
    <% d = Date.parse('18th Nov 2015') %>
    <p>
      <%= "The date is #{d.strftime}" %>
    </p>
  </body>
</html>
