<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% d = DateTime.parse('3rd Feb 2001 04:05:06+03:30') %>
    <p>
      <%= "The date is #{d}" %>
    </p>
  </body>
</html>
